@import "../../../resources/styles/base";

.checkbox-input {
    --checkbox-input--control-border-color: var(--color-gray3);
    --checkbox-input--control-color: var(--primary-color--darken);
    --checkbox-input--error-color: var(--error-color);

    position: relative;

    display: inline-flex;
    align-items: flex-start;

    font-size: 1.6rem;
    line-height: 1;


    &.is-error {
        --checkbox-input--control-border-color: var(--error-color);
    }

    &__input {
        position: relative;

        margin-top: 0.15em;
    }

    &__input input {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
    }

    &__input input:checked + &__control:after {
        opacity: 1;
    }

    &__control {
        position: relative;

        display: block;

        width: .75em;
        height: .75em;
        border: 1px solid var(--checkbox-input--control-border-color);
    }

    &__control:after {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;

        width: 1em;
        height: 1em;

        font-size: 1.1rem;
        text-align: center;
        line-height: 1;

        color: var(--checkbox-input--control-color);

        content: '✓';

    }

    &__label {
        margin-left: 0.625em;
    }

    &__errors-list {
        position: absolute;
        top: calc(100% + .4rem);

        list-style-type: none;
    }

    &__error {
        font-size: 1.2rem;
        line-height: 1.3;

        color: var(--checkbox-input--error-color);
    }
}
